{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>

<header>
    <nav>
  <div class="nav-wrapper navbar">
    <a href="" class="brand-logo bold">FinanceApp</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="bold"><a href="">Мои проекты</a></li>
      <li class="bold"><a href="">Выход</a></li>
    </ul>
  </div>
</nav>
</header>
<body>

    {%block content %}


    {%endblock %}

</body>

<script src="{% static 'js/script_detail.js' %}"></script>
</html>